:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --main-bg-color: #1a1a1d;
    --hilight-color: #c3073f;
    --main-text-color: white;
    --button-color: #4e4e50;
}

input {
    border-radius: 5px;
    font-size: large;
}

select {
    border-radius: 5px;
    font-size: large;
}

textarea {
    border-radius: 5px;
    font-size: large;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover {
    text-shadow: 5px 5px 10px var(--hilight-color);
}

hr {
    width: 90vw;
    border: 1px solid var(--hilight-color);
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 8vh;
    margin-left: 150px;
}

.nav-bar {
    width: 35vw;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-panel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90vw;
}

.admin-sub {
    align-items: center;
    justify-content: space-between;
    width: 35vw;
}

.home {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    align-items: center;
    justify-content: center;
    margin-left: 25vw;
}

.page-layout {
    list-style: none;
    margin-left: 25vw;
}

.heading-divider {
    margin: -10px;
    width: 50vw;
}

.practice-section {
    display: flex;
    list-style: none;
}

.card-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 15px;
    margin: 15px;
    border: 2px solid var(--hilight-color);
    border-radius: 10px;
    background-color: #222222;
}

.practice-sub {
    border-right: 4px solid #c3073f;
    margin-right: 50px;
    margin-left: 50px;
}

.icon {
    filter: invert(100);
    margin-left: 10px;
}