:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --main-bg-color: #1a1a1d;
  --hilight-color: #c3073f;
  --main-text-color: white;
  --button-color: #4e4e50;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}